name: Discord Commit Notifications

on:
  push:
    branches:
      - '**'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord Embed
        run: |
          curl -X POST -H "Content-Type: application/json" \
          -d '{
            "thread_name": "Commit: ${{ github.sha }}",
            "embeds": [{
              "author":{
                "name": "${{ github.event.head_commit.author.name }}",
                "icon_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              },
              "title": "**Message:** ${{ github.event.head_commit.message }}",
              "description": "**Branch:** ${{ github.ref_name }}",
              "fields": [
              {
                "name": "View on Github",
                "value": "[Link](${{ github.event.head_commit.url }})",
                "inline": false
              }],
              "color": 3066993
            }]
          }' \
          ${{ secrets.DISCORD_WEBHOOK_COMMIT_URL }}
