name: Discord Issue Notifications

on:
  issues:
    types: [opened, edited, closed, reopened, labeled, unlabeled]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord Embed
        run: |
          curl -X POST -H "Content-Type: application/json" \
          -d '{
            "thread_name": "Issue: ${{ github.event.issue.number }} - ${{ github.event.issue.title }}",
            "embeds": [{
              "author":{
                "name": "${{ github.event.issue.user.login }}",
                "icon_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              },
              "title": "**Issue #${{ github.event.issue.number }}: ${{ github.event.issue.title }}**",
              "description": "**State:** ${{ github.event.issue.state }}",
              "fields": [
              {
                "name": "Labels",
                "value": "${{ github.event.issue.labels.name || join(', ') }}",
                "inline": false
              }, {
                "name": "View on Github",
                "value": "[Link](${{ github.event.issue.html_url }})",
                "inline": false
              }],
              "color": 3066993
            }]
          }' \
          ${{ secrets.DISCORD_WEBHOOK_ISSUES_URL }}
