name: Discord Issue Notifications

on:
  issues:
    types: [opened, edited, closed, reopened, labeled, unlabeled]

permissions:
  issues: write

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - uses: EndBug/discuss-on-discord@v1
        with:
          discord_bot_token: ${{ secrets.DISCORD_BOT_TOKEN }}
          destination: https://discord.com/channels/1086044503548366928/1086044504273981496
