name: Discord Issue Notifications

on:
  issues:
    types: [opened, edited, closed, reopened, labeled, unlabeled]

jobs:
  notify:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Sync Issue to Discord Thread
        uses: EndBug/discuss-on-discord@v1
        with:
          discord_bot_token: ${{ secrets.DISCORD_BOT_TOKEN }}

          destination: https://discord.com/channels/1086044503548366928/1468227359436963850

          thread_name: "Issue: ${{ github.event.issue.number }} - ${{ github.event.issue.title }}"
          discord_message: |
            **Issue #${{ github.event.issue.number }}: ${{ github.event.issue.title }}**
            **State:** ${{ github.event.issue.state }}
            **View on GitHub:** ${{ github.event.issue.html_url }}
